<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/member/Signup-form" method="post" enctype="multipart/form-data">
        아이디:<input type="text" name="memberId"><br>
        비밀번호:<input type="text" name="memberPassword"><br>
        이름:<input type="text" name="memberName"><br>
        이메일:<input type="text" name="memberEmail"><br>
        전화번호:<input type="text" name="memberMobile"><br>
        프로필사진<input type="File" name="memberProfile"><br>
                <input type="submit" value="회원가입">
    </form>

</body>
</html>